.lead__image {
    margin-top: 40px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .lead__image {
        margin-top: 56px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__image {
        margin: 56px 48px 0;
        width: calc(100% - 96px);
    } 
}

@media screen and (min-width: 1280px) {
    .lead__image {
        margin: 64px 148px 0;
        width: calc(100% - 296px);
    }
}