.cover {
    background-image: url('./cover-background.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    margin: 0 auto;
    max-width: 1184px;
    min-height: 200px;
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.2s ease-in;
}

.cover:hover::before {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .cover {
        min-height: 480px;
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        min-height: 640px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        /*width: calc(100% - 96px);*/
        min-height: 740px;
    }
}